<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<!-- 기본적으로 스프링 부트의 절대 경로는 src/main/resources/static임-->
<!--<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>-->
<!--<script src="/js/app/home.js"></script>-->
<body>
<h1>게시글 등록</h1>
<div class="container">
    <form>
        <div class="form-group">
            <label for="title">제목</label>
            <input type="text" class="form-control" id="title" placeholder="제목을 입력하세요">
        </div>
        <div class="form-group">
            <label for="author"> 작성자 </label>
            <input type="text" class="form-control" id="author" placeholder="작성자를 입력하세요">
        </div>
        <div class="form-group">
            <label for="content"> 내용 </label>

            <textarea class="form-control" id="content" placeholder="내용을 입력하세요"></textarea>
        </div>
    </form>
    <a href="/" role="button" class="btn btn-secondary">cancel</a>
    <button type="button" class="btn btn-primary" id="btn-save">등록</button>

</div> <!-- /container -->
<!--스크립트 위치가 위에 있을때는 동작하지 않음 -->
<!--아래에서 동작하는 이유는 script dom element가 available 하지 않고 html body가
    다 Parsing 되지 않았을때 미리 스크립트가 실행되면 버튼을 찾지 못하기 때문-->
<script th:src="@{https://code.jquery.com/jquery-3.6.4.min.js}"></script>
<script th:src="@{/js/app/home.js}"></script>
</body>
</html>


<!--            class 속성은 HTML 요소에 대한 class를 지정하는 데 사용 된다.-->
<!--            클래스명은 내가 원하는 대로 지정하는거고, 나중에 css내 js에서 클래스 별 적용이 가능한것-->
<!--            서버 넘어갈때 key는 name= "" 의 값임 -->
<!--            memberForm의 필드가 "name" 인 곳에 값을 준다.-->